<%-include ('../layouts/userHeader.ejs') %>

<!-- Start Header Section -->
<%-include ('../layouts/userSideBar.ejs') %>

<!-- End Header Section -->

<!-- Start Breadcrumbs Section -->
<!-- <section class="breadcrumbs-section background_bg" data-img-src="image/checkout-breadcrumbs-img.jpg"> -->
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-md-12">
                <div class="page_title text-center">
                	<h1>Checkout</h1>
                    <ul class="breadcrumb justify-content-center">
                    	<li><a href="home">home</a></li>
                        <li><a href="shop">shop</a></li>
                        <li><span>Checkout</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->

<!-- Start Checkout Section -->
<section class="checkout-inner-page pt_large pb_large">	
	<div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="checkout-process">
                    <div id="accordion" class="checkout-parts accordion">
                    	<form role="form" action="checkout" method="post">
                           
                            <div class="card">
                                <!-- <div class="card-header form-wizard-step">
                                    <h5>
                                         <a class="btn btn-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>02</span>Billing information</a>
                                    </h5>
                                </div> -->
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                	<div class="card-body">
                                    	<div class="check-tab">
                                           
                                    	</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header form-wizard-step">
                                    <h5>
                                         <a class="btn btn-link collapsed btn-check" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>01</span>Shipping information</a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                	<div class="card-body">
                                    	<div class="check-tab">
                                            <div class="checkout-form">
                                                <div class="row">
                                                  <div class="form-group col-md-6">
                                                    <label>Name <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your Name" value="<%= profileData ? profileData.name : '' %>" type="text" name="name">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label>Street Name <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your Street Name" value="<%= profileData ? profileData.streetName : '' %>" type="text" name="streetName">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label>House Name <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your House Name" value="<%= profileData ? profileData.houseName : '' %>" type="text" name="houseName">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label>Phone Number <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your Phone Number" value="<%= profileData ? profileData.mobile : '' %>" type="tel" name="mobile">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label>Email <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your Email" value="<%= profileData ? profileData.email : '' %>" type="email" name="email">
                                                  </div>
                                                  <!-- <div class="form-group col-md-6">
                                                    <label>City <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your District" value="<%= profileData ? profileData.city : '' %>" type="text" name="city">
                                                  </div> -->
                                                  <div class="form-group col-md-6">
                                                    <label>District <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your District" value="<%= profileData ? profileData.district : '' %>" type="text" name="district">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label>State <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your State" value="<%= profileData ? profileData.state : '' %>" type="text" name="state">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label>Pincode <span class="required_sign">*</span></label>
                                                    <input class="form-control required" placeholder="Enter Your Pincode" value="<%= profileData ? profileData.pincode : '' %>" type="text" name="pincode">
                                                  </div>
                                                  <div class="form-group col-md-12">
                                                    <div class="form-wizard-buttons text-md-right">
                                                      <button class="btn btn-primary btn-submit btn-next" type="button" onclick="showPaymentMethod()">Continue</button>
                                                    </div>
                                                  </div>
                                                </div>
                                                
                                            </div>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" >
                                <div class="card-header form-wizard-step">
                                    <h5>
                                        <a class="btn btn-link collapsed btn-check" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span>02</span>Payment Method</a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                	<div class="card-body">
                                    	<div class="check-tab">
                                            <div class="checkout-form">
                                                <div class="chek-form">
                                                    
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios4" value="cashOnDelivery">
                                                        <label class="form-check-label" for="exampleRadios4">Cash on Delivery</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios5" value="upi">
                                                        <label class="form-check-label" for="exampleRadios5">UPI</label>
                                                       
                                                    </div>
                                                </div>
                                                <div class="form-wizard-buttons text-md-right">
                                                    <button class="btn btn-primary btn-next" type="button" onclick="showOrderReview()">Continue</button>
                                                </div>
                                            </div>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card ord_tab">
                                <div class="card-header form-wizard-step">
                                    <h5>
                                        <a class="btn btn-link collapsed btn-check" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span>03</span>Order review</a>
                                    </h5>
                                </div>
                               	<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                	<div class="card-body">
                                    	<div class="check-tab">
                                        	<div class="order-table">
                                            	<div class="order-review-table table-responsive">
                                                	<table class="table table-bordered text-center">
                                                    <thead>
                                                      
                                                        <tr class="row-1">
                                                            <th class="row-title text-left">Product Name</th>
                                                            <th class="row-title">Price</th>
                                                            <th class="row-title">Quantity</th>
                                                            <th class="row-title">Subtotal</th>
                                                        </tr>
                                                    </thead>
                                                    
                                                    <tbody>
                                                        <%for(i of cart.products){ %>
                                                        <tr class="row-2">
                                                            <td class="product-name"><%=i.productId.productName%></td>
                                                            <td class="product-price"><%=i.price%></td>
                                                            <td class="product-quantity"><%=i.quantity%></td>
                                                            <td class="product-subtotal"><%= i.price * i.quantity %></td>
                                                        </tr>
                                                        <%}%> 
                                                    </tbody>
                                                    
                                                    <tfoot>
                                                        <tr class="row-4">
                                                            <td class="text-left" colspan="3">Cart Subtotal</td>
                                                            <td class="pr_subtotal"><%=cartTotal%></td>
                                                        </tr>
                                                        <tr class="row-5">
                                                            <td class="text-left" colspan="3">Promotional Code</td>
                                                            <td class="pr_subtotal">-<%=couponDiscount%></td>
                                                        </tr>
                                                        <tr class="row-6">
                                                            <td class="text-left" colspan="3">ORder Total</td>
                                                            <td class="product-subtotal"><%=total%></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            	</div>
                                        	</div>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                            <div class="place-order-btn">
                                <button type="submit" class="btn btn-secondary place-order " onclick="removeCoupon()">Place Order</button>

                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
            	<div class="cart-inner-box box-2 text-center">
                	<div class="ci-title">
                    	<h6>Cart Total</h6>
                    </div>
                    <div class="ci-caption">
                        <ul>
                        	<li>Subtotal <span><%=cartTotal%></span></li>
                            <li>Shipping <span>Free</span></li>
                            <li>Coupon Code <span>-<%=couponDiscount%></span></li>
                        </ul>
                    </div>
                    <div class="ci-btn">
                        <ul>
                        	<li>Total Order<span><%=total%></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Checkout Section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
function showPaymentMethod() {
    // Collapse the current card
    $('#collapseThree').collapse('hide');
    // Expand the Payment Method card
    $('#collapseFour').collapse('show');
}

function showOrderReview() {
    // Collapse the current card (Payment Method)
    $('#collapseFour').collapse('hide');
    // Expand the next card (Order review)
    $('#collapseFive').collapse('show');
}


document.addEventListener('DOMContentLoaded', () => {
    const continueButton = document.querySelector('.btn-next');

    continueButton.addEventListener('click', () => {
        fetch('/payment', { method: 'GET' })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                // Assuming the response data contains HTML for the payment section
                document.getElementById('payment').innerHTML = data;
                // Optionally, you can add code here to initialize any JavaScript functionality in the payment section
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    });
});function removeCoupon() {
    fetch('/removecoupon', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({}), // Pass empty object as data
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        }
        throw new Error('Network response was not ok.');
    })
    .then(data => {
        if (data.remove === true) {
            Swal.fire("Success", "Coupon Removed!", "success");
            // Update specific elements using JavaScript
            document.getElementById('couponInfo').innerText = 'Coupon removed'; // Update coupon info message
            document.getElementById('couponValue').innerText = '0'; // Update coupon value display
            document.getElementById('totalValue').innerText = data.updatedTotal; // Update total value with new calculation
        } else {
            // Handle other response scenarios here
        }
    })
    .catch(error => {
        console.error('There was a problem removing the coupon:', error);
    });
}


</script>
<!-- Start Footer Section -->
<%-include ('../layouts/userFooter.ejs') %>
