<%-include ('../layouts/userHeader.ejs') %>

<!-- Start Header Section -->
<%-include ('../layouts/userSideBar.ejs') %>

<!-- End Header Section -->

<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="/user/image/pd-breadcrumbs-img.jpg">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
                <div class="page_title text-center">
                	<h1><%=productDetail.productName%> Detail</h1>
                    <ul class="breadcrumb justify-content-center">
                    	<li><a href="home">home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><span><%=productDetail.productName%> </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->

<!-- Start Product Detail Section -->
<section class="products-detail-section pt_large">
	<div class="container">
    	<div class="row">
        <div class="col-md-5">
             <div class="product-image">
                <img class="product_img" src='/images/products/<%= productDetail.images[0] %>' data-zoom-image="image/product1.png"/>
             </div>
             <div id="pr_item_gallery" class="product_gallery_item owl-thumbs-slider owl-carousel owl-theme">
               <% for (let i = 0; i < productDetail.images.length; i++){ %>
                <div class="item">

                    <a href="#" class="active" data-image="image/product1.png" data-zoom-image="image/product1.png">
                        <img src="/images/products/<%= productDetail.images[i] %>" />
                    </a>
                </div>
            <%}%>
               
            </div>
        </div>
        <div class="col-md-7">
            <div class="quickview-product-detail">
                <h2 class="box-title"> <%=productDetail.productName %></h2>
                <h3 class="box-price"><del>$<%= productDetail.actualPrice %></del>$ <%= productDetail.price %></h3>
                <p class="box-text"><%= productDetail.description %></p>
                <p class="stock">Availability: <span>In Stock</span></p>
                <div class="quantity-box">
                    <p>Quantity:<%= productDetail.quantity %></p>
                    
                    <div class="quickview-cart-btn">
                        <button onclick="addToCart('<%= productDetail.id %>')" class="addCart"><i class="fa fa-shopping-cart"></i></button>

                        

                    </div>
                </div>
                <div class="box-social-like d-sm-flex justify-content-between">
                    <ul class="hover-icon box-like">
                        <li><button onclick="addToWishlist('<%= productDetail.id %> ')" class="addWishlist"><i class="fa fa-heart"></i></button></li>

                        
                    </ul>
                    <ul class="hover-icon box-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End Product Detail Section -->



<!-- Start Related Product Section -->
<section class="related-product pb_large">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="title">
                	<h4>RELATED PRODUCTS</h4>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="products-slider4 same-nav owl-carousel owl-theme" data-margin="30" data-dots="false">
                    <% for (let i = 0; i < relatedProducts.length; i++) { %>
                        <% const relatedProduct = relatedProducts[i]; %>
                        <% if (productDetail.category === relatedProduct.category) { %>
                            <div class="item">
                                <div class="product-box common-cart-box">
                                    <div class="product-img common-cart-img">
                                        <img src="/images/products/<%= relatedProduct.images[0] %>" alt="product-img">
                                        <div class="hover-option">
                                            <div class="add-cart-btn">
                                                <a href="#" class="btn btn-primary">Add To Cart</a>
                                            </div>
                                            <ul class="hover-icon">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-info common-cart-info text-center">
                                        <a href="product-detail.html?id=<%= relatedProduct._id %>" class="cart-name"><%= relatedProduct.productName %></a>
                                        <p class="cart-price"><del><%= relatedProduct.actualPrice %></del> <%= relatedProduct.price %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- End Related Product Section -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function addToCart(id) {
        console.log(id);
        fetch('/cart/' + id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: id })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            Swal.fire({
                icon: 'success',
                title: 'Item added to cart!',
                text: data.message
            });
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Error adding item to cart. Please try again.'
            });
        });
    }

    
</script>
                                        
<script>
    const addWishlist = document.querySelector('.addWishlist');
    
    function addToWishlist(id) {
        console.log(id);
        
        fetch('/wishlist/' + id, {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain' 
            },
            body: id 
        })
        .then(response => {
            return response.json(); 
        })
        .then(data => {
            
            Swal.fire({
                title: 'Item Added to Wishlist',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'OK'
            });
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error adding item to wishlist. Please try again.');
        });
    }
</script>


<%-include ('../layouts/userFooter.ejs') %>
